<h1>My list of accommodations</h1>
<%# if current_user.admin? %>
  <%# @accommodations.each do |accommodation| %>
    <h2><%#= accommodation.name %></h2>
    <%#= cl_image_tag accommodation.photo, :class => "card-background-image" %>
    <p><%#= accommodation.description %></p>
    <p><%#= accommodation.address %></p>
  <%# end %>
<% end %>
