<h1>My list of destinations</h1>
<%# @destinations.each do |destination| %>
  <h2><%#= destination.name %></h2>
  <%#= cl_image_tag destination.photo, :class => "card-background-image" %>
  <p><%#= destination.description %></p>
  <p><%#= destination.address %></p>
<%# end %>
