<h2>Welcome to Bucket List With Kids</h2>


<p>Dear <%= @user.username %>,</p>
<p>Thank you for registering with us. Now it's time to find an unique holiday inspiration, handpicked just for families. Enjoy!</p>
<p>Kind regards,</p>
<br>
<p>Bucket List With Kids Team</p>
