.page-info-box-bucket {
  background-color: white;
  width: 100%;
  // box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  // padding-bottom: 0px;
}

.page-info-box-bucket p {
  font-family: 'Sacramento';
  text-align: center;
  font-size: 40px;
  color: rgba(25,33,51,.9);
  padding-top: 10px;
}

.icons-bucket {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.icon-bucket{
  width: 20%;
  padding-top: 10px;
  padding-bottom: 50px;
  margin-right: -40px;
}

.test-icons-bucket {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}
