.page-wrapper {
  display: flex;
  flex-wrap: nowrap;
  margin: 30px 75px;
  position: relative;
}

.banner-show-text {
  font-family: 'Sacramento', 'cursive';
  color: white;
  position: absolute;
  right: 30px;
  width: 400px;
  z-index: 999;
  font-size: 75px;
  bottom: 30px;
}


.banner-show-text-p {
  color: white;
  text-align: center;
  padding: 50px 150px;
  font-weight: 100;
  font-size: 14px;
}

.page-text {
  display: block;
  margin: 0 auto;
}

.show-large-container-left {
  display: flex;
  flex-direction: column;
  flex: 1 0 70%;
  margin-right: 30px;
  margin-bottom: 30px;
}

.show-large-container h1 {
  font-family: 'Sacramento', 'cursive';
  color: #192231;
  padding: 30px 15px;
  margin: 0;
  display: inline-block;
}

.show-large-container p {
   color: gray;
   padding: 15px 30px;
   display: inline-block;
}

.show-large-container-right {
  width: 300px;
  height: auto;
  background-color: white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  min-width: 250px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.like-box {
  width: 100px;
  height: 100px;
  border-bottom: 1px solid gray;
}

.like-box a {
  color: gray;
}

.med-container-inline-flex {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  height: auto;
  padding: 30px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  position: relative;
  margin-bottom: 30px;
}

.show-little-container {
  width: 100%;
  height: 50px;
  background-color: white;
  flex-wrap: nowrap;
}

.right-column-show {
  width: 100%;
  padding-left: 200px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  height: auto;
  background-color: white;
}

.right-column-show p {
  font-size: 14px;
  text-decoration: none;
  color: gray;
}

.med-cont-vertical-flex {
  width: 100%;
  background-color: white;
  height: auto;
  margin: 30px 0;
  display: flex;
  justify-content: space-around;
  position: relative;
  flex-direction: column;
}

.med-container-inline-flex h1 {
  font-family: 'Sacramento', 'cursive';
  color: #192231;
  padding: 30px 30px;
  margin: 0;
}

.med-container-inline-flex p {
   color: gray;
   padding: 15px 0;
   font-size: 14px;
}

.show-icon {
  width: 150px;
  // vertical-align: top;
  // display: block;
  // margin: 0 auto;
}

.show-container {
  padding: 20px;
}

.show-map-index {
  display: inline-block;
  width: 100%;
  height: auto;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.container-right p {
    font-weight: lighter;
    color: darkgray;
    font-size: 14px;
    padding: 30px;
    width: 60%;
}

 .left-column-show h1 {
  color: gray;
}

 .show-page-banner-text h1 {
  color: rgba(255, 255, 255, .9);
  font-family: 'Sacramento', cursive;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
 }

 .show-page-text h3 {
   color: gray;
 }

