
.show-page-photo {
  background-image: no-repeat;
  background-size: cover !important;
  height: 100vh;
  position: relative;
}

.show-container {
  padding: 20px;
}

.right-column-show p {
    padding-left: 20%;
    font-weight: lighter;
    color: gray;
    font-size: 14px;
    padding: 30px;
   }

 .left-column-show h1 {
  color: gray;
 }

 .show-page-banner-text h1 {
  color: rgba(255, 255, 255, .9);
  font-family: 'Sacramento', cursive;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
 }

 .show-page-text h3 {
   color: gray;
 }

