<h1><%= @accommodation.name %></h1><br>
<p><%= @accommodation.description %></p><br>
<p><%= @accommodation.country %></p>






<!-- MAP CODE: -->
<div id="map" style="width: 100%; height: 600px;" data-markers="<%= @markers.to_json %>">
</div>
