.backoffice {
  padding: 20px;

  label {
    display: block;
  }

  input.string, select.country {
    max-width: 30em;
    width: 100%;
  }

  input.numeric {
    max-width: 10em;
    width: 100%;
  }

  textarea {
    max-width: 45em;
    width: 100%;
    min-height: 20em;
  }

  table {
    width: 100%;
    td:first-child {
      width: 80%;
    }
    td {
      padding: 5px;
    }
  }
}