<!-- Will include tabs with a data target for #myaccomondations, #myexperienes (read: choosen-bucket-list-items etc. -->

<!-- All bucketlist items, will filter with pressed tabs -->
<div class="container text-center">
  <div class="tab-content" id="mydestinations">
    <%= render 'shared/mybucket-list-items.html' %>
  </div>
</div>




