<div class="dashboard-page">
  <div class="wrapper" style="margin-top: 20px;">
   <div class="container">
     <div class="row">
       <div class="col-xs-12 text-center">
        <h1>Good evening <%= @user.username %></h1>
          <div class="tab-content" id="myprofile">
            <%= render 'shared/myprofile' %>
          </div>
          <div class="tabs">
            <a class="link-to-bucket-list">
             </a>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>
