<!-- FOR NOW A SEPERATE PARTIAL FOR AL RECCOMMENDED NEARBY FAMILLY ACCOMMODATIONS WITH BOOKING LINKS -->
<% @accommodations.each do |accommodation| %>
<div class="product">
  <img src="<%= accommodation.photos.empty? ? "" : cl_image_path(accommodation.photos.first.photo) %>" alt="" class="product-image hidden-xs">
  <div class='product-body'>
    <h4><%= accommodation.name %></h4>
  </div>
  <div class="link-to-see-experience">
    <%= link_to "Booking.com", accommodation.booking_link, class: "btn btn-primary" %>
  </div>
</div>
<% end %>
