<!-- FOR NOW A SEPERATE PARTIAL FOR AL RECCOMMENDED NEARBY FAMILLY ACCOMMODATIONS WITH BOOKING LINKS -->
<div class="product">
  <img src="http://res.cloudinary.com/oya4ks4/image/upload/v1520946391/vwtsvx2iuxjrhxphc2wn.jpg" alt="" class="product-image hidden-xs">
  <div class='product-body'>
    <h3>Cappadocia Cave Hotel</h3>
  </div>
  <div class="link-to-see-experience">
    <%= link_to "Booking.com", destinations_path, class: "btn btn-primary" %>
  </div>
</div>
