<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 ">
        <hr>


            <!-- accomodations iteration -->


              </div>
                <div class="info">

                <!-- Should has the same info as homepage only with a counter? -->

                </div>
              <div class="link-to-see-accommodation">
              <%#= link_to "go to accommodation", accommodation_path(accommodation),   class:"btn btn-default btn-sm"  %>
              </div>
            </div>
          <hr>

      </div>
    </div>
  </div>
</div>
