<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 ">
        <hr>


          <% @bucket.each do |bucket_item| %>
              <!-- itteration over destinations -->
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://lorempixel.com/300/200/city/');">
        <div class="card-category">
          <%= bucket_item.destination.name %>
        </div>
        <div class="card-description">
          <p><%= bucket_item.destination.locality %></p>
          <p><%= bucket_item.destination.country %></p>
         <p><%= bucket_item.destination.region %></p>
        </div>
        <%end%>

              <div class="link-to-see-destination">
              <%#= link_to "go to destination", destination_path(destination),   class:"btn btn-default btn-sm"  %>
              </div>
            </div>
          <hr>

      </div>
    </div>
  </div>
</div>
