<div class="big-flex">
  <div class= "content">
    <ul class="left-column">
      <%= render partial: "shared/bucket", collection: @experiences, as: :entity, locals: { type: "experience" } %>
    </div>
  </div>
</div>
