<!-- render for the profile -->
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 center">
        <hr>
        <div class="profile-img">
        <% avatar_url = current_user.photo %>
        <%= image_tag avatar_url, width: 50, height: 50, style: "border-radius: 50%;" %>
        <div class="profile-info">
        <h6><strong>username:</strong>   <%= @user.username %></h6>
        <h6><strong>e-mail:</strong>   <%= @user.email %></h6>
        </div>

         <%= link_to "Edit password", edit_user_path, class:"btn btn-danger btn-sm"  %>

        </div>
        <hr>
      </div>
    </div>
  </div>
</div>
