<!-- FAST DATA FOR VIATOR WITHOUT A LOOP OR OWN TABLE/COLUMNS -->

<!-- Show card 1 -->
<div class="product">
  <img src="http://res.cloudinary.com/mr555/image/upload/v1520930869/13014.jpg" alt="" class="product-image hidden-xs">
  <div class='product-body'>
    <h3>Discover Cappadocia by Hot Air Balloon</h3>
  </div>
  <div class="product-hours">
    <p>3 hour</p>
  </div>
  <div class="link-to-see-experience">
    <%= link_to "Viator", "https://www.viator.com/tours/Cappadocia/Discover-Cappadocia-by-Hot-Air-Balloon/d5609-14049P45", class: "btn btn-info" %>
  </div>
</div>

<!-- Show card 2 -->
<div class="product">
  <img src= "https://cache-graphicslib.viator.com/graphicslib/thumbs674x446/8273/SITours/cappadocia-hot-air-balloon-ride-in-nev-ehir-466869.jpg" alt="" class="product-image hidden-xs">
  <div class='product-body'>
    <h3>Cappadocia Hot Air Balloon Ride</h3>
  </div>
  <div class="product-hours">
    <p>2 hour</p>
  </div>
  <div class="link-to-see-experience">
    <%= link_to "Viator", "https://www.viator.com/tours/Cappadocia/Cappadocia-Hot-Air-Balloon-Tour/d5609-8273P15", class: "btn btn-info" %>
  </div>
</div>

<!-- Show card 3 -->
<div class="product">
  <img src="http://res.cloudinary.com/oya4ks4/image/upload/v1520946404/ksrecqqxybtxval9vtb8.jpg" alt="" class="product-image hidden-xs">
  <div class='product-body'>
    <h3>Hot Air Balloon Flight in Cappadocia</h3>
  </div>
  <div class="product-hours">
    <p>1 hour</p>
  </div>
  <div class="link-to-see-experience">
    <%= link_to "Viator", "https://www.viator.com/tours/Urgup/Hot-Air-Balloon-Flight-in-Cappadocia/d23000-8249P58", class: "btn btn-info" %>
  </div>
</div>
