.card-index {
  position: relative;
  width: 400px;
  height: 360px;
  border-radius: 3px;
  box-shadow: 4px 4px 10px rgba(.5, .5, .5, 0.1);
  margin: 0 auto;
  content-align: center;
  margin-bottom: 45px;
}

.card-index:hover {
  width: 400px;
  height: 360px;
  box-shadow: 2px 2px 2px rgba(1, 1, 1, 0.6);
  transition: all 0.15s ease;
  opacity: .9;
}
.card-background-image {
  position: absolute;
  background-size: cover !important;
  top: 0px;
  background-position: center;
  background-repeat: no-repeat;
  width: 400px;
  height: 280px;
  border-radius: 3px;
  background-color: rgba(1,1,1,0.8);
  margin: 0 auto;
  // box-shadow: 2px 2px 2px rgba(.5, .5, .5, 0.4);
}
.card-background-image:hover {
  width: 400px;
  height: 280px;
  // box-shadow: 2px 2px 2px rgba(1, 1, 1, 0.4);
  transition: all 0.15s ease;
}

.count-text {
  color: rgb(25, 18, 51);
  text-transform: upcase;
  font-size: 10px;
  position: absolute;
  bottom: 4px;
  right: 12.5px;

}
.locality {
  position: absolute;
  bottom: 95px;
  right: 20px;
  text-align: center;
  margin: 0;
  font-weight: lighter;
  color: rgba(255, 255, 255, .8);
  font-size: 16px;
}

.title {
  position: absolute;
  text-align: left;
  font-size: 16px;
  font-weight: normal;
  color: rgba(255, 255, 255, .9);
  left: 20px;
  top: 15px;
  width: 200px;
  font-family: 'Raleway';
  font-size: 28px;
  margin-top: 0;
}

.bucket-button {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 15px;
    right: 20px;
    background-repeat: no-repeat;
    &:hover {
    transition: all 0.15s ease;
    background-image: url("/../assets/small_bucket_liked.svg") !important;
}
}

.bucket-button-blue {
    height: 25px;
    width: 25px;
    position: absolute;
    bottom: 35px;
    right: 20px;
  }

.bucket-tick {
  right: 25px;
  top: 20px;
  position: absolute;
  color: white;
}

.user-image {
  // position: absolute;
  border-radius: 50%;
  height: 50px;
  top: 10px;
  right: 10px;
}

.stars {
  position: absolute;
  color: gray;
  font-size: 20px;
  bottom: 35px;
  left: 10px;
}

.show-link a {
  position: absolute;
  margin: auto 0;
  color: rbga(255, 255, 255, .9);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 0;
  }

