.card-index {
  position: relative;
  width: 400px;
  height: 280px;
  border-radius: 3px;
  box-shadow: 2px 2px 2px rgba(.5, .5, .5, 0.4);
  margin: 0 auto;
  content-align: center;
  margin-bottom: 30px;
}

.card-index:hover {
  opacity: 0.7;
  width: 401px;
  height: 281px;
  box-shadow: 2px 2px 2px rgba(1, 1, 1, 0.4);
  transition: all 0.15s ease;
}
.card-background-image {
  position: absolute;
  background-size: cover !important;
  top: 0px;
  background-position: center;
  background-repeat: no-repeat;
  width: 400px;
  height: 280px;
  border-radius: 3px;
  background-color: rgba(1,1,1,0.8);
  margin: 0 auto;
  box-shadow: 2px 2px 2px rgba(.5, .5, .5, 0.4);
}
.card-background-image:hover {
  opacity: 0.7;
  width: 401px;
  height: 281px;
  box-shadow: 2px 2px 2px rgba(1, 1, 1, 0.4);
  transition: all 0.15s ease;
}


.locality {
  position: absolute;
  bottom: 15px;
  right: 15px;
  text-align: center;
  margin: 0;
  font-weight: lighter;
  color: rgba(255, 255, 255, .8);
  font-size: 16px;
}

.title {
  position: absolute;
  text-align: left;
  font-size: 16px;
  font-weight: lighter;
  color: rgba(255, 255, 255, .9);
  left: 15px;
  top: 15px;
  width: 200px;
  font-family: 'Raleway';
  font-size: 28px;
  margin-top: 0;
}

.user-image {
  // position: absolute;
  border-radius: 50%;
  height: 50px;
  top: 10px;
  right: 10px;
}

.stars {
  position: absolute;
  color: gray;
  font-size: 20px;
  bottom: 35px;
  left: 10px;
}

.show-link a {
  position: absolute;
  margin: auto 0;
  color: rbga(255, 255, 255, .9);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 0;
  }

