.product {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 3px;
  transition: all 0.15s ease;
  background-color: white;
  border-bottom: 1px solid gray;
}

/* hour design */
.product-hours {
  flex: 1 1 auto;
}

/* Body design */
.product-body {
  flex: auto;
}
.product-body h3, {
  font-weight: normal !important;
  font-size: 22px;
  margin-top: 0;
  text-decoration: none !important;
}
.product-body p {
  font-weight: lighter;
  color: #999999;
  margin-bottom: 0;
}

.product-body a {
  font-weight: lighter;
  color: #999999;
  margin-bottom: 0;
  text-decoration: none !important;
  text-transform: uppercase !important;
  letter-spacing: 1.5px !important;
}

/* Product image */
.product-image {
  border-radius: 10px;
  margin-right: 20px;
  width: 175px;
}

/* Controls design */
.product-controls {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px;
}
.product-controls a {
  padding: 0 20px;
  font-size: 17px;
  color: #E6E6E6;
}
.product-controls a:hover {
  color: #D3473C !important
}
.product-controls-hidden a {
  color: transparent;
  font-size: 15px;
  transition: all 0.15s ease;
  border-color: transparent;
}

/* Hover effects */
.product:hover {
  background: rgb(244, 244, 244) !important;
  cursor: pointer;
}
.product-upvote:hover, .product-upvote.product-upvote-upvoted {
  color: #5898f1;
  cursor: pointer;
}
.product-upvote-upvoted .product-arrow {
  border-bottom-color: #5898f1;
}
// .product:hover .product-upvote {
//   transform: scale(1.2)
// }
.product:hover .product-controls-hidden a {
  color: #E6E6E6;
}
.product-upvote:hover .product-arrow {
  border-bottom: 9px solid #5898f1;
}
