// SCCS FOR TESTING TABS ON BUCKETLISTPAGE
// Coded without seeing the page used ugly color to locate them faster
.tabs-container {
}
.tabs {
  background: #53443F;
  display: flex;
  opacity: 0.95;
  // padding: 5px 5px 0 5px;
}
.tabs a {
  color: white;
  text-decoration: none !important;
  text-transform: uppercase !important;
  letter-spacing: 1.5px !important;
  font-size: 14px !important;
  padding-bottom: 8px;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.tabs h3 {
  font-size: 17px;
  font-weight: lighter;
  margin-top: 0;
}
.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  background: #1A2331;
  flex: 0 0 25%;
  text-align: center;
  padding: 20px;
}
.tab:first-child {
  // border-radius: 10px 0 0 10px;
}
.tab:last-child {
  // border-radius: 0 10px 10px 0;
}
.tab.active {
  background: #1A2331;
  opacity: 0.7;
}
