<h1>This is the home<h1>
<% @destinations.each do |destination| %>
<%= destination.name %><br>
<%= destination.address %><br>
<% end %>

<!-- MAP -->
<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
></div>

