<%= link_to "Add new experience", new_destination_experience_path(@destination), class: "btn btn-primary" %>

<%= link_to "Add new accommodation", new_destination_accommodation_path(@destination), class: "btn btn-primary" %>

<div class="slider-wrapper">
  <div class="slider">
    <div class="slider--item" style="background-image: url(https://source.unsplash.com/XaidrBZfEwU/1600x900)">
    </div>
    <div class="slider--item" style="background-image: url(https://source.unsplash.com/WP9GFwbVur0/1600x900)">
    </div>
    <div class="slider--item" style="background-image: url(https://source.unsplash.com/A-NVHPka9Rk/1600x900)">

    </div>
    <div class="slider--item" style="background-image: url(https://source.unsplash.com/Q9JgdxdW1Rk/1600x900)">
    </div>
  </div>
</div>

<div class="big-flex">
  <div class="left-column">
    <div class="show-container">
      <div class="left-column-element">
        <h3>ABOUT</h3>
        <p><%= @destination.description %></p><br>
      </div>
    </div>
  </div>
  <%= link_to "back to results", root_path %>
    <!-- <p><%#= @destination.name %> it a good choice for families that like <%#= @destination.holiday_type %>, and <%#= @destination.theme %></p> -->


    <%#= link_to "Edit", edit_destination_path(@destination) %>
    <%#= link_to "Add new experience", new_destination_experience_path(@destination), class: "btn btn-primary" %>
    <%#= link_to "Add new accommodation", new_destination_accommodation_path(@destination), class: "btn btn-primary" %>
  </div>
</div>
