<div class="footer">
  <div class="footer-links">
    <a href="#"><p> Help </p></a>
    <a href="#"><p> About Us </p></a>
    <a href="#"><p> Upgrade to Pro </p></a>
    <a href="#"><p> Jobs </p></a>
    <a href="#"><p> Browse </p></a>

    <%= link_to bucketlist_path do %>
    <p>  Dashboard </p></a>
    <%end%>

    <%= link_to destroy_user_session_path, method: :delete do %>
    <p>  Logout </p></a>
    <%end%>

  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>
